.border-class {
  border: 3px solid #000;
  margin: 20px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav a {
  font-size: 36px;
  margin: 0 20px;
  text-decoration: none;
  color: #000;
}

.book-ul {
  display: flex;
  justify-content: flex-end;
}

.book-ul li {
  padding-right: 10px;
  list-style: none;
  border-right: 2px solid #000;
  line-height: 2.5;
  cursor: pointer;
}

.book-ul li:last-child {
  border-right: none;
  padding-right: 0;
}

.book-ul li a {
  font-size: 20px;
  font-weight: 900;
}

#book-div {
  margin: 0 20px;
  border: 3px solid;
}

.book-dynamic {
  display: flex;
  align-items: center;
  height: 2rem;
  padding: 0.4rem 0.8rem;
}

.book-dynamic:nth-child(odd) {
  background-color: #ccc;
}

.title-author {
  width: 95%;
  float: left;
}

.remove-button {
  width: 70px;
  float: right;
  padding: 5px;
  box-shadow: 3px 3px;
  background-color: #fff;
  cursor: pointer;
}

#title {
  width: 250px;
  padding: 5px;
  border: 2.5px solid;
}

#author {
  width: 250px;
  padding: 5px;
  border: 2.5px solid;
}

.form-div-center {
  display: block;
  text-align: center;
  margin-top: 60px;
}

.header-book {
  margin-top: 60px;
}

#add-button {
  width: 70px;
  padding: 2.5px;
  box-shadow: 3px 3px;
  background-color: #fff;
  margin-left: 185px;
  cursor: pointer;
}

.header-title {
  text-align: center;
}

.contact-info {
  width: 40%;
  text-align: center;
  margin: 60px auto;
}

.h2-size {
  font-size: 36px;
  text-align: center;
}

.contact-info ul {
  text-align: left;
  margin-left: 10px;
}

footer {
  padding-left: 20px;
  font-size: 26px;
}

.active {
  color: rgb(56, 110, 180);
  border-bottom: 2px solid rgb(56, 110, 180);
}

.hide {
  display: none;
}

.marg-bottom {
  margin-bottom: 140px;
}

.date {
  display: block;
  text-align: right;
  margin-right: 20px;
  font-size: 18px;
}
